<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Air Metrics</title>

    <link th:rel="stylesheet" th:href="@{assets/select2-develop/dist/css/select2.css}"/>
    <link th:rel="stylesheet" th:href="@{assets/select2-bootstrap4-theme-master/dist/select2-bootstrap4.css}"/>
    <link th:rel="stylesheet" th:href="@{webjars/bootstrap/4.4.1-1/css/bootstrap.min.css} "/>

    <style>
        .card{
            background: #fff;
            height: 152px;
            box-shadow: 0 8px 16px rgba(46,91,255,.1);
            border-radius: 4px;
            border: 1px solid rgba(66,137,246,.15);
            box-sizing: border-box;
            display: grid;
            position: relative;
            grid-template-areas:
            "data"
            "legend"
            
        }
        .legend{
            grid-area:"legend";
            font-size: 20px;
            color: rgba(45,45,45,.8);
            font-style: normal;
            font-weight: 400;
            line-height: normal;
            text-align: center;
            display: grid;
            align-items: center;
        }
        .aqi_legend{
            grid-area:"legend";
            font-size: 20px;
            color: white;
            font-style: normal;
            font-weight: 600;
            line-height: normal;
            text-align: center;
            display: grid;
            align-items: center;
        }
        .card_legend{
            grid-area:"legend";
            font-size: 20px;
            color: #5897fb;
            font-style: normal;
            font-weight: 600;
            line-height: normal;
            text-align: center;
            margin-top: 10px;
            display: grid;
            align-items: flex-start;
        }
        .city_card{
            background: #5897fb;
            height: 152px;
            box-shadow: 0 8px 16px rgba(46,91,255,.1);
            border-radius: 4px;
            border: 1px solid rgba(66,137,246,.15);
            box-sizing: border-box;
            display: grid;
            position: relative;
            
        }
        .aqi_card{
            background: #fff;
            height: 152px;
            box-shadow: 0 8px 16px rgba(46,91,255,.1);
            border-radius: 4px;
            border: 1px solid rgba(66,137,246,.15);
            box-sizing: border-box;
            display: grid;
            position: relative;
            grid-template-areas:
            "data"
            "legend"
            
            
        }
        .card_aqi_value{
            text-align: center;
            font-size: 40px;
            line-height: 35px;
            letter-spacing: -.02em;
            display: grid;
            color: white;
            align-items: center;
        }
        .card_value{
            text-align: center;
            font-size: 40px;
            line-height: 35px;
            letter-spacing: -.02em;
            display: grid;
            color: #5897fb;
            align-items: center;
        }
        .card_text{
            grid-area: text;
            font-size: 30px;
            color: rgba(45,45,45,.8);
            font-style: normal;
            font-weight: 600;
            line-height: normal;
            text-align: center;
            display: grid;
            align-items: center;
        }
        .card_aqi_text{
            grid-area: text;
            font-size: 30px;
            color: white;
            font-style: normal;
            font-weight: 600;
            line-height: normal;
            text-align: center;
            display: grid;
            align-items: flex-end;
        }
        .city_text{
            grid-area: text;
            font-size: 35px;
            color: #f8f9fa;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
            text-align: center;
            display: grid;
            align-items: center;
        }
        .custom_row{
            align-items: flex-end;
        }
        .footer{
            position: fixed;
            bottom: 0;
            width: 100%;
            height: 60px;
            background-color: #343a40;
        }
        .main_header{
            grid-area: main-headline;
            position: relative;
            font-family: Roboto Slab;
            font-weight: 400;
            font-size: 42px;
            line-height: 52px;
            text-align: center;
            letter-spacing: -.5px;
            color: #2d2d2d;
            margin-top: 20px;
            z-index: 3;
        }
        
    </style>

</head>
<body>

<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark static-top">
    <div class="container">
        <a class="navbar-brand" href="/">Air Metrics</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive"
                aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item active">
                    <a class="nav-link" th:href="@{home}">By city
                        <span class="sr-only">(current)</span>
                    </a>
                </li>
                <li class="nav-item ">
                    <a class="nav-link" th:href="@{history}">Historic data
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{stats}">Cache Statistics</a>
                </li>

            </ul>
        </div>
    </div>
</nav>

<div class="container" style="margin-bottom: 100px;">
    <h1 class="main_header" >The Most Precise<br>Air Quality In The Universe</h1>

    <div class="row justify-content-around">
        <div class="col-md-10 mt-5">
            <form id="airmetricsform">

                <div class="form-group">
                    <label for="birthplace">Select a city:</label>
                    <select id="birthplace" class="form-control select2-single">
                        <option value="">Search city</option>
                    </select>
                </div>

                <button class="btn btn-primary" type="submit">Submit</button>
            </form>
        </div>
    </div>

    <div id="metrics_area" style="display: none;" >
        <div class="row justify-content-around">
            <div id="aqi_card" class="col-md-5 mt-5 aqi_card" data-toggle="tooltip" data-placement="top" title="Air Quality Index following US - EPA standard" >
                
                <div class="row">
                    <div id="aqi_value" class="card_aqi_value col-md-7 " >
                        N/A
                        
                    </div>
                    <div id="aqi_text" class="card_aqi_text col-md-5 " >
                        
                    </div>
                </div>
                <div id="aqi_legend" class="aqi_legend col-md-7 " >
                        
                </div> 
                
            </div>
            <div class="col-md-5 mt-5 city_card" >
                <div class="row">
                    <div id="city_text" class="city_text col-md-12 " >
                        N/A
                        
                    </div>
                </div>
                
                
            </div>
            
        </div> 

        <div class="row justify-content-around">
            <div class="col-md-3 mt-5 card"  data-toggle="tooltip" data-placement="top" title="Ozone levels" >
                <div class="row custom_row">
                    <div id="o3_value" class="card_value col-md-7 " >
                        N/A
                    </div>
                    <div id="o3_text" class="card_text col-md-5 " >
                        
                    </div>
                </div>
                <div id="o3_legend" class="card_legend col-md-7 " >
                    
                </div>            
            </div>
            <div class="col-md-3 mt-5 card" data-toggle="tooltip" data-placement="top" title="Sulfur dioxide levels">
                <div class="row custom_row">
                    <div id="so2_value" class="card_value col-md-7 " >
                        N/A
                    </div>
                    <div id="so2_text" class="card_text col-md-5 " >
                        
                    </div>
                    
                </div> 
                <div id="so2_legend" class="card_legend col-md-7 " >
                    
                </div>  
            </div>
            <div class="col-md-3 mt-5 card" data-toggle="tooltip" data-placement="top" title="Nitrogen dioxide levels">
                <div class="row custom_row">
                    <div id="no2_value" class="card_value col-md-7 " >
                        N/A
                    </div>
                    <div id="no2_text" class="card_text col-md-5 " >
                        
                    </div>
                    
                </div> 
                <div id="no2_legend" class="card_legend col-md-7 " >
                    
                </div>  
                
            </div>
        </div> 

        <div class="row justify-content-around">
            <div class="col-md-3 mt-5 card" data-toggle="tooltip" data-placement="top" title="Carbon monoxide levels">
                <div class="row custom_row">
                    <div id="co_value" class="card_value col-md-7 " >
                        N/A
                    </div>
                    <div id="co_text" class="card_text col-md-5 " >
                        
                    </div>
                    
                </div> 
                <div id="co_legend" class="card_legend col-md-7 " >
                    
                </div> 
                
            </div>
            <div class="col-md-3 mt-5 card" data-toggle="tooltip" data-placement="top" title="Fine particulate matter (<2.5µm) levels">
                <div class="row custom_row">
                    <div id="pm25_value" class="card_value col-md-7 " >
                        N/A
                    </div>
                    <div id="pm25_text" class="card_text col-md-5 " >
                        
                    </div>
                    
                </div> 
                <div id="pm25_legend" class="card_legend col-md-7 " >
                    
                </div>  
                
            </div>
            <div class="col-md-3 mt-5 card" data-toggle="tooltip" data-placement="top" title="Inhalable particulate matter (<10µm) levels">
                <div class="row custom_row">
                    <div id="pm10_value" class="card_value col-md-7 " >
                        N/A
                    </div>
                    <div id="pm10_text" class="card_text col-md-5 " >
                        
                    </div>
                    
                </div> 
                <div id="pm10_legend" class="card_legend col-md-7 " >
                    
                </div> 
                
            </div>
        </div>
    </div>
    <div id='loading_area' class="d-flex justify-content-center" style="align-items: center;height: 200px;">
        <div id='spinner' class="spinner-border text-primary" role="status">
          <span class="sr-only">Loading...</span>
        </div>
    </div>
    

</div>
<footer class="footer">
    <div class="container">
      <p class="text-muted" style="margin-top: 16px;text-align: center;">© 2020 - Developed in TQS  by João Vasconcelos </p>
    </div>
  </footer>


<script th:src="@{/webjars/jquery/jquery.min.js}"></script>
<script th:src="@{/webjars/popper.js/umd/popper.min.js}"></script>
<script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
<script th:src="@{assets/select2-develop/dist/js/select2.full.js}"></script>

<script>
    $(document).ready(function () {
        
        $("#birthplace").select2({
            theme: "bootstrap4",
            ajax: {
                url: '/api/city',
                dataType: 'json',
                delay: 250,
                processResults: function (response) {
                    console.log(response)
                    return {
                        results: response
                    };
                },

            }
        });
       
        $("#airmetricsform").submit(function (event) {
            document.getElementById("loading_area").style.height = "200px"
            $('#loading_area').show();
            $('#spinner').show();
            $('#metrics_area').hide();
            $('[data-toggle="tooltip"]').tooltip();
            //stop submit the form, we will post it manually.
            console.log("Hello");
            event.preventDefault();

            //fire_ajax_submit();

            var cityId;
            cityId = $("#birthplace").val();

            
            if (cityId!=''){
                $.ajax({
                type: "GET",
                contentType: "application/json",
                url: "/api/air-metrics/"+cityId,
                dataType: 'json',
                cache: false,
                timeout: 600000,
                success: function (data) {


                    console.log("SUCCESS : ", data["airMetrics"]["o3"]);
                    $('#o3_value').text(data["airMetrics"]["o3"]);
                    $('#o3_text').text("o3");
                    $('#o3_legend').text("ppb");
                    $('#so2_value').text(data["airMetrics"]["so2"]);
                    $('#so2_text').text("so2");
                    $('#so2_legend').text("ppb");
                    $('#no2_value').text(data["airMetrics"]["no2"]);
                    $('#no2_text').text("no2");
                    $('#no2_legend').text("ppb");
                    $('#co_value').text(data["airMetrics"]["co"]);
                    $('#co_text').text("co");
                    $('#co_legend').text("ppb");
                    $('#pm25_value').text(data["airMetrics"]["pm25"]);
                    $('#pm25_text').text("pm25");
                    $('#pm10_value').text(data["airMetrics"]["pm10"]);
                    $('#pm10_text').text("pm10");
                    $('#aqi_value').text(data["airMetrics"]["aqi"]);
                    $('#aqi_text').text("Air Quality Index");
                    $('#pm25_legend').text("ug/m³");
                    $('#pm10_legend').text("ug/m³");
                    
                    var aqi_value=data["airMetrics"]["aqi"];

                    if (aqi_value>=0 && aqi_value<=50){
                        document.getElementById("aqi_card").style.background = "#00E400"
                        document.getElementById("aqi_legend").style.color = "white"
                        document.getElementById("aqi_text").style.color = "white"
                        document.getElementById("aqi_value").style.color = "white"
                        $('#aqi_legend').text("Excellent");
                    }
                    else if (aqi_value>=51 && aqi_value<=100){
                        document.getElementById("aqi_card").style.background = "#FFFF00"
                        document.getElementById("aqi_legend").style.color = "rgba(45,45,45,.8)"
                        document.getElementById("aqi_text").style.color = "rgba(45,45,45,.8)"
                        document.getElementById("aqi_value").style.color = "rgba(45,45,45,.8)"
                        $('#aqi_legend').text("Good");
                    }
                    else if (aqi_value>=101 && aqi_value<=150){
                        document.getElementById("aqi_card").style.background = "#FF7E00"
                        document.getElementById("aqi_legend").style.color = "white"
                        document.getElementById("aqi_text").style.color = "white"
                        document.getElementById("aqi_value").style.color = "white"
                        $('#aqi_legend').text("Lightly Polluted");
                    }
                    else if (aqi_value>=151 && aqi_value<=200){
                        document.getElementById("aqi_card").style.background = "#FF0000"
                        document.getElementById("aqi_legend").style.color = "white"
                        document.getElementById("aqi_text").style.color = "white"
                        document.getElementById("aqi_value").style.color = "white"
                        $('#aqi_legend').text("Moderately Polluted");
                    }
                    else if (aqi_value>=201 && aqi_value<=300){
                        document.getElementById("aqi_card").style.background = "rgb(143, 63, 151)"
                        document.getElementById("aqi_legend").style.color = "white"
                        document.getElementById("aqi_text").style.color = "white"
                        document.getElementById("aqi_value").style.color = "white"
                        $('#aqi_legend').text("Heavily Polluted");
                    }
                    else if (aqi_value>=301 && aqi_value<=500){
                        document.getElementById("aqi_card").style.background = "#7E0023"
                        document.getElementById("aqi_legend").style.color = "white"
                        document.getElementById("aqi_text").style.color = "white"
                        document.getElementById("aqi_value").style.color = "white"
                        $('#aqi_legend').text("Severely Polluted");
                    }

                    $('#city_text').text(data["airMetrics"]["city"]["text"]);
                    //$("#btn-search").prop("disabled", false);

                },
                error: function (e) {

                

                    console.log("ERROR : ", e);
                    //$("#btn-search").prop("disabled", false);

                },
                complete: function(){
                    document.getElementById("loading_area").style.height = "0px"
                    $('#loading_area').hide();
                    $('#spinner').hide();
                    $('#metrics_area').show();
                }
            });
            }
            

            });
        });
</script>

</body>
</html>