<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Air Metrics</title>

    <link th:rel="stylesheet" th:href="@{assets/select2-develop/dist/css/select2.css}"/>
    <link th:rel="stylesheet" th:href="@{assets/select2-bootstrap4-theme-master/dist/select2-bootstrap4.css}"/>
    <link th:rel="stylesheet" th:href="@{webjars/bootstrap/4.4.1-1/css/bootstrap.min.css} "/>

    <style>
        .card{
            background: #fff;
            height: 152px;
            box-shadow: 0 8px 16px rgba(46,91,255,.1);
            border-radius: 4px;
            border: 1px solid rgba(66,137,246,.15);
            box-sizing: border-box;
            display: grid;
            position: relative;
            
            
        }
        .legend{
            grid-area:"legend";
            font-size: 20px;
            color: rgba(45,45,45,.8);
            font-style: normal;
            font-weight: 400;
            line-height: normal;
            text-align: center;
            display: grid;
            align-items: center;
        }
        .aqi_legend{
            grid-area:"legend";
            font-size: 20px;
            color: rgba(45,45,45,.8);
            font-style: normal;
            font-weight: 600;
            line-height: normal;
            text-align: center;
            display: grid;
            align-items: center;
        }
        .card_legend{
            grid-area:"legend";
            font-size: 20px;
            color: 5897fb;
            font-style: normal;
            font-weight: 600;
            line-height: normal;
            text-align: center;
            margin-top: 10px;
            display: grid;
            align-items: flex-start;
        }
        .city_card{
            background: #5897fb;
            height: 152px;
            box-shadow: 0 8px 16px rgba(46,91,255,.1);
            border-radius: 4px;
            border: 1px solid rgba(66,137,246,.15);
            box-sizing: border-box;
            display: grid;
            position: relative;
            
        }
        .aqi_card{
            background: #fff;
            height: 152px;
            box-shadow: 0 8px 16px rgba(46,91,255,.1);
            border-radius: 4px;
            border: 1px solid rgba(66,137,246,.15);
            box-sizing: border-box;
            display: grid;
            position: relative;
            
            
            
        }
        .card_aqi_value{
            text-align: center;
            font-size: 40px;
            line-height: 35px;
            letter-spacing: -.02em;
            display: grid;
            color: rgba(45,45,45,.8);
            align-items: center;
        }
        .card_value{
            text-align: center;
            font-size: 40px;
            line-height: 35px;
            letter-spacing: -.02em;
            display: grid;
            color: #5897fb;
            align-items: center;
        }
        .card_text{
            grid-area: text;
            font-size: 30px;
            color: rgba(45,45,45,.8);
            font-style: normal;
            font-weight: 600;
            line-height: normal;
            text-align: center;
            display: grid;
            align-items: center;
        }
        .card_aqi_text{
            grid-area: text;
            font-size: 30px;
            color: rgba(45,45,45,.8);
            font-style: normal;
            font-weight: 400;
            line-height: normal;
            text-align: center;
            display: grid;
            align-items: flex-end;
        }
        .city_text{
            grid-area: text;
            font-size: 35px;
            color: #f8f9fa;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
            text-align: center;
            display: grid;
            align-items: center;
        }
        .custom_row{
            align-items: flex-end;
        }
        .footer{
            position: fixed;
            bottom: 0;
            width: 100%;
            height: 60px;
            background-color: #343a40;
        }
        .main_header{
            grid-area: main-headline;
            position: relative;
            font-family: Roboto Slab;
            font-weight: 400;
            font-size: 42px;
            line-height: 52px;
            text-align: center;
            letter-spacing: -.5px;
            color: #2d2d2d;
            margin-top: 20px;
            z-index: 3;
        }
        
    </style>

</head>
<body>

<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark static-top">
    <div class="container" >
        <a class="navbar-brand" href="/">Air Metrics</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive"
                aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item ">
                    <a class="nav-link" th:href="@{home}">By city

                    </a>
                </li>
                <li class="nav-item ">
                    <a class="nav-link" th:href="@{history}">Historic data
                    </a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" th:href="@{stats}">Cache Statistics
                        <span class="sr-only">(current)</span>
                    </a>
                </li>

            </ul>
        </div>
    </div>
</nav>

<div class="container" style="margin-bottom: 100px;">

    <h1 class="main_header" >Cache<br>Usage Statistics</h1>

    

    <div class="row justify-content-around">
        <div class="col-md-7 mt-5 card" >
            <div class="row ">
                <div id="requests_value" class="card_value col-md-7 " >
                    N/A
                </div>
                <div id="requests_text" class="card_text col-md-5 " >
                    
                </div>
            </div>
                       
        </div>
        
    </div> 

    <div class="row justify-content-around">
        <div class="col-md-4 mt-5 card" >
            <div class="row ">
                <div id="hits_value" class="card_value col-md-7 " >
                    N/A
                </div>
                <div id="hits_text" class="card_text col-md-5 " >
                    
                </div>
                 
            </div> 
            
        </div>
        <div class="col-md-4 mt-5 card" >
            <div class="row ">
                <div id="misses_value" class="card_value col-md-7 " >
                    N/A
                </div>
                <div id="misses_text" class="card_text col-md-5 " >
                    
                </div>
                
            </div> 
            
        </div>
        
    </div>
    

</div>
<footer class="footer">
    <div class="container">
        <p class="text-muted" style="margin-top: 16px;text-align: center;">© 2020 - Developed in TQS  by João Vasconcelos</p>
    </div>
  </footer>


<script th:src="@{/webjars/jquery/jquery.min.js}"></script>
<script th:src="@{/webjars/popper.js/umd/popper.min.js}"></script>
<script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
<script th:src="@{assets/select2-develop/dist/js/select2.full.js}"></script>

<script>
    $(document).ready(function () {

        $.ajax({
            type: "GET",
            contentType: "application/json",
            url: "/api/cache-stats/",
            dataType: 'json',
            cache: false,
            timeout: 600000,
            success: function (data) {


                console.log("SUCCESS : ", data);
                $('#requests_value').text(data["cacheNumberOfRequests"]);
                $('#requests_text').text("Number of Requests");
                $('#hits_value').text(data["cacheNumberOfHits"]);
                $('#hits_text').text("Hits");
                $('#misses_value').text(data["cacheNumberOfMisses"]);
                $('#misses_text').text("Misses");
                
                //$("#btn-search").prop("disabled", false);

            },
            error: function (e) {



                console.log("ERROR : ", e);
                //$("#btn-search").prop("disabled", false);

            }
        });


        });
</script>

</body>
</html>